<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>o2o</title>
  </head>
  <body>
  <body>
    <form action="/jobs" method="post">
      Email: 
      <input> type = "text" name="email" value="nghoangphu@gmail.com" placeholder="Email"><br>
      Password:
      <input> type = "password" name="password" value="hoangphu" placeholder="Password"><br>
      <input type="submit" value="Login">
    </form>
</html>
